# Starter pipeline


# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

resources:
- repo: self
pool:
    vmImage: $(vmImageName)
   
stages:
- stage: Build
  displayName: Build and publish Java container
  jobs:  
  - job: Build
    displayName: Build
    variables:
    - group: Release
    steps:
    - task: Maven@3
      displayName: 'Maven pom.xml'
      inputs:
        options: '-DskipITs --settings ./maven/settings.xml'
        publishJUnitResults: false
    - task: CopyFiles@2
      displayName: Copy WAR file to staging directory
      inputs:
        sourceFolder: '$(build.sourcesdirectory)'
        contents: |
          target/myshuttledev*.war
          *.sql
        targetFolder: '$(build.artifactstagingdirectory)'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: '.'
        publishLocation: 'Container'
- stage: PostBuild
  displayName: anal
  dependsOn: Build
  condition: succeeded()  
  jobs:  
  - job: analyze
    displayName: analyze
    variables:
    - group: Release
    steps:
    - task: CmdLine@2
      displayName: 'command Line'
      inputs:
        script: |
          echo ZIPPING
          zip -rp allofit.zip *
          echo ZIPPED 

    - task: UsePythonVersion@0
      displayName: 'install azure storage file share python module'
      inputs:
        #versionSpec: 3.8.3
        addToPath: true
      name: pyTools
    - script: $(pyTools.pythonLocation)/bin/pip3 install azure-storage-file-share
      displayName: Install azure-storage-file-share module        
    - task: PythonScript@0
      displayName: Show files and directories inside of File Share
      inputs:
        scriptSource: 'inline'
        script: |
          import platform
          from azure.storage.fileshare import ShareDirectoryClient


          print(platform.python_version())
          
          connection_string = "DefaultEndpointsProtocol=https;AccountName=mystorageaccount11706;AccountKey=$(soccmel);EndpointSuffix=core.windows.net"
          parent_dir = ShareDirectoryClient.from_connection_string(conn_str=connection_string, share_name="aci-share-cicd", directory_path="")

          #print('$(soccmel)')
          my_list = list(parent_dir.list_directories_and_files())
          print(my_list)
         
  
- stage: preDeploy
  displayName: 'preDeploy Web App'
  dependsOn: Build
  condition: succeeded()  
  jobs:
  - job: predeploy
    displayName: predeploy
    variables:
    - group: Release
    steps:
    - task: Docker@2
      displayName: 'Build and push Java container image to registry'
      inputs:
        command: buildAndPush
        buildContext: '$(build.artifactstagingdirectory)'
        repository: $(webRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: 'To Container Registry'
        tags: |
            $(tag)
    - task: AzureMysqlDeployment@1
      displayName: Run MySQL initialization script
      inputs:
        azureSubscription: 'Devops To Azure connection'
        serverName: '$(MySqlServer).mysql.database.azure.com'
        databaseName: 'alm'
        sqlUsername: $(MySqlUserName)@$(MySqlServer)
        sqlPassword: $(MySqlPassword)
        sqlFile: '$(Build.SourcesDirectory)/CreateMYSQLDB.sql'
- stage: Deploy
  displayName: 'Deploy Web App'
  dependsOn: preDeploy
  condition: succeeded()
  jobs:
  - deployment: DeploymentJob
    environment: java-container
    variables:
    - group: Release
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            displayName: Update the web app with the new container
            inputs:
              appName: $(WebAppName)
              azureSubscription: 'Devops To Azure connection'
              imageName: $(RegistryName)/$(webRepository):$(build.buildId)
          - task: AzureAppServiceSettings@1
            displayName: Update web app connection string
            inputs:
              azureSubscription: 'Devops To Azure connection'
              appName: $(WebAppName)
              resourceGroupName: 'java-containers-cicd-rg'
              connectionStrings: |
                [
                  {
                    "name": "MyShuttleDb",
                    "value": "jdbc:mysql://$(MySqlServer).mysql.database.azure.com:3306/alm?useSSL=true&requireSSL=false&autoReconnect=true&user=$(MySqlUserName)@$(MySqlServer)&password=$(MySqlPassword)",
                    "type": "MySql",
                    "slotSetting": false
                  }
                ]


variables:
  dockerfilePath: '$(Build.SourcesDirectory)/src/Dockerfile'
  webRepository: 'web'
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'
